@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100vh;
    width: 100vh;
    background-color: black;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(imagens/fundo-madeira.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(imagens/frame-iphone.png);
    width: 311px;
    height: 627px;
}

iframe#celular {
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 475px;
    width: 265px;
}

section#menu {
    position: absolute;
    right: 0;
}

img.icons {
    display: block;
    width: 70px;
    border-radius: 50%;
    box-sizing: border-box;
    margin: 10px;
    padding: 5px;
}

img.icons:hover {
    border: 2px solid white;
    transform: translate(-5px, -5px);
    transition: transform .5s, border .6s;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.562);
}

a.links {
    width: 50px;
}